<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <title>연봉 계산기</title>
  <meta name="title" content="dk a11y webapp" />
  <link rel="shortcut icon" type="image/x-icon" href="/dk_favicon_64x64.ico" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<div id="kakaoWrap">
  <header id= "kakaoHead">
    <div class="k_head">
      <h1>연봉 계산기</h1>
    </div>
  </header>
  <hr class="hide">
  <main id="kakaoContent" class="cont_top">
    <article id="mArticle" class="cont_item">
      <span style="display:block;margin:5px 0;text-align:center"><img src="img/1year.png" alt=""/></span>
      <p style="text-align:center"> 혹시 모르니 미리 계산해 보도록 하자. 단, 몰래 확인하자.</p>
    </article>
    <article class="cont_item">
      <h2>1. 인상율 확인</h2>
      <div class="calc_item">
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_01">전년 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_01" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_02">올해 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_02" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
      </div>
      <div class="wrap_btn"> <button id="btn_01" class="btn_result">계산하기</button></div>
      <div id="msg_01" class="wrap_result">
      </div>
    </article>
    <hr class="hide">
    <article class="cont_item">
      <h2>2. 인상폭 예측</h2>
      <div class="calc_item">
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_03">기준 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_03" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
      </div>
      <div class="wrap_btn"> <button id="btn_02" class="btn_result">계산하기</button></div>
      <div id="msg_02" class="wrap_result">
      </div>
    </article>
    <hr class="hide">
    <article class="cont_item">
      <h2>3. 인상폭 예측 (0~1년차)</h2>
      <div class="calc_item">
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_04">시작 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_04" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_05">근무 개월</label></dt>
          <dd class="cont_inp cont_inp_month">
            <input type="text" id="calc_inp_05" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="2">
            <span class="txt_unit">&nbsp;개월</span>
          </dd>
        </dl>
      </div>
      <div class="wrap_btn"> <button id="btn_03" class="btn_result">계산하기</button></div>
      <div id="msg_03" class="wrap_result">
      </div>
    </article>
    <hr class="hide">
    <article class="cont_item">
      <h2>4. 보정 인상율 확인 (0~1년차)</h2>
      <div class="calc_item">
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_08">기준 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_08" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_09">예상 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_09" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_10">근무 개월</label></dt>
          <dd class="cont_inp cont_inp_month">
            <input type="text" id="calc_inp_10" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="2">
            <span class="txt_unit">&nbsp;개월</span>
          </dd>
        </dl>
      </div>
      <div class="wrap_btn"> <button id="btn_05" class="btn_result">계산하기</button></div>
      <div id="msg_05" class="wrap_result">
      </div>
    </article>
    <hr class="hide">
    <article class="cont_item">
      <h2>5. 향후 예상</h2>
      <div class="calc_item">
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_06">기준 연봉</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_06" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;원</span>
          </dd>
        </dl>
        <dl class="dl_comm">
          <dt class="tit_lab"><label for="calc_inp_07">평균 인상율</label></dt>
          <dd class="cont_inp">
            <input type="text" id="calc_inp_07" class="tf_on tf_comm number_validation" placeholder="" value="" autocomplete="off" maxlength="15">
            <span class="txt_unit">&nbsp;%</span>
          </dd>
        </dl>
      </div>
      <div class="wrap_btn"> <button id="btn_04" class="btn_result">계산하기</button></div>
      <div id="msg_04" class="wrap_result">
      </div>
    </article>
  </main>
  <hr class="hide">
  <footer id="kakaoFoot">
    Hundred years life project
  </footer>
</div>
<script type="text/javascript" src="/js/calc_common.js" charset="utf-8"></script>
</body>
</html>
